name: Deploy Docs Portal

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Docusaurus Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      # Portal Artefakt holen und entpacken
      - name: Download Portal Artifact
        uses: actions/download-artifact@v4
        with:
          name: compodoc-portal-api
          path: build/portal

      # LeetCode Artefakt holen und entpacken
      - name: Download LeetCode Artifact
        uses: actions/download-artifact@v4
        with:
          name: compodoc-leetcode-api
          path: build/leetcode

      - name: Build Docusaurus
        run: npm run build

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting:docs-techthordev-app --token ${{ secrets.FIREBASE_TOKEN }}
